
<div class="container">
    <div class="well well-sm">
        <h5>Under Construction...</h5>
    </div>
    <div class="well well-sm">

        <h5>This Project was built using</h5>
        <ul>
            <li>Node</li>
            <li>Express</li>
            <li>Mongo</li>
            <li>EJS</li>
            <li>Mongoose</li>
            <li>nconf</li>
            <li>express-ejs-layouts</li>
        </ul>
    </div>
    <div class="well well-sm">
        <h5>This Project as of 11/28/2016...</h5>
        <ul>
            <li>was built in 1 day</li>
            <li>is being deployed on ngrok</li>
            <li>my first non commercial project</li>
            <li>was alot of fun!</li>
        </ul>
    </div>
    <div class="well well-sm">
        <h5>Improvements</h5>
        <ul>
            <li>Database support</li>
            <li>Authentication </li>
            <li>Mobile View and responsiveness</li>
            <li>Better usage of pdf.js</li>
            <li>CSS styles and animations</li>
            <li>Chat Room / Message Board</li>
            <li>Audit Log</li>
        </ul>
    </div>
</div>

<%- include('sharedJS'); %>