<div class="container">
    <div class="well well-sm">
        <h4>Unit test and API snip from internal project</h4>
        <p>Written in a MEEN stack application, tested with Mocha + Chai</p>
        <script src="//repl.it/embed/E9Ea/1.js"></script>
    </div>
</div>

<%- include('sharedJS'); %>