<div class="container">
    <div class="well well-sm">
        <h1 class="text-center">Sign In</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form method="POST" action="/login">
                    <div class="form-group">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        <label for="username">Username "guest1337"</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Email" value="Guest1337">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <label for="password">Password "mypassword"</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="mypassword">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('sharedJS'); %>